body {
  background-color: #98fb98;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  gap: 1rem;
  display: flex;
  width: 50%;
  height: 6%;
}

.rock {
  flex: 1;
}
.paper {
  flex: 1;
}
.scissors {
  flex: 1;
}
