body {
  background-color: #98fb98;
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  gap: 1rem;
  display: flex;
  width: 50%;
  height: 6%;
  flex: 1;
  position: absolute;
}
.score-container {
  gap: 1.4rem;
  display: flex;
  width: 50%;
  height: 6%;
  flex: 1;
  position: absolute;
  top: 40%;
  left: 37%;
}

.rock {
  flex: 1;
}
.paper {
  flex: 1;
}
.scissors {
  flex: 1;
}
